.imageBorder{
    border:1px solid black;
    width:100%;
}


.render{
    float:right;
}

.properties{
    height: 100%;
    border: 1px solid;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.text{
    border: 1px solid;
    overflow:auto;
    height: 400px;
    min-width: 200px;
    padding: 5px 5px 5px 5px;
}



.composition-progress-bar {
    margin-top: 10px;
    height: 14px;
    float: right;
      position: relative;
      width: calc(100% - 70px)
}

.composition-progress-bar .inner {
  position: absolute;
    height:100%;
    transition: all 1s ease-out;
}


.progress-bar-slider .inner {
  transition: none;
}

.composition-progress-bar .sliderRanges {
    display:inline-block;
    height:100%;
    transition: all 1s ease-out;
}

.progress-bar-slider .inner:after {
  content: " ";
  width: 5px;
  height: 14px;;
  background-color:#ccc;
  position: absolute;
  right: -2px;
  /*top: -2px;*/
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  margin: 0px;
  z-index:1;
}

.progress-slider {
  opacity: 0;
  width: 100%;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 2;
}

.pageNumber{
    width:3em;
}

.prev{
    float:left;
}

.next{
    float:right;
}

.page-select{
    margin-left: 5px;
    display:inline-block;
    vertical-align:middle;
}

.grey{
    opacity:0.5;
}

.composition-bottom{
    margin-top: 20px;
}

.books{
    margin-left: 5px;
    display: inline-block;
    width:auto;
}
.invisible{
    opacity:0;
}

