<div data-ng-cloak data-ng-controller="discussionThreadCtrl" class="col-md-12">
    <h2 id="titleClick" data-ng-click="changeTitle()">{{thread.title}}</h2>
    <div>
        <button class="btn btn-{{thread.status.buttonColor}}"
            data-ng-click="changeStatus()">{{thread.status.buttonText}}
        </button>
        <i class="h4 small">Discussion created by </i>
        <b class="h4"><a href="#">{{thread.author.name}}</a></b>
    </div>
    <hr />
    <div data-ng-repeat="post in thread.posts">
        <img class="img iconImage" data-ng-src="{{post.author.avatar}}" align="left"
            style="MARGIN-RIGHT: 15px" />
        <table class="table-bordered">
            <tbody>
                <tr class="discussionPost">
                    <td>
                        <i class="h4 small">Post created by </i>
                        <b class="h4"><a href="#">{{post.author.name}}</a></b>
                        <i class="h4 small">{{post.dateCreated | relativetime}}</i>
                    </td>
                    <td>
                        <button class="btn customBtn1"
                            data-ng-show="isManager()"
                            data-ng-click="deletePost(post)">Delete</button>
                        <button class="btn customBtn1"
                            data-ng-show="isManager()"
                            data-ng-click="post.isEditing = true">Edit</button>
                    </td>
                </tr>
                <tr id="whiterow">
                    <td colspan="2">
                        <div ng-show="post.isEditing">
                            <textarea rows="4" cols="" ng-model="post.content"
                                class="form-control replyBox"></textarea>
                        </div>
                        <div ng-hide="post.isEditing">{{post.content}}</div>
                        <div ng-show="post.isEditing">
                            <button class="btn customBtn1"
                                data-ng-click="post.isEditing = false">Cancel</button>
                            <button class="btn customBtn1"
                                data-ng-click="saveEdit(post)">Save</button>
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat="reply in post.replies"
                    class="noColumnBorder">
                    <td class="replyMargin" colspan="2">
                        <h5 class="tabMargin">
                            <b><a href="#">{{reply.author.name}}</a>
                                <i class="small"> replied {{reply.author.dateCreated | relativetime}}</i></b>
                            <button class="btn customBtn2"
                                data-ng-show="isManager()"
                                data-ng-click="deleteReply(post, reply)">X</button>
                        </h5>
                        <p class="replyContent">{{reply.content}}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea rows="2" class="form-control replyBox"
                        data-ng-model="newReplyContent"
                        placeholder="Reply here..."></textarea>
                        <button class="btn btn-info btn-sm tabMargin buttonMargin"
                            data-ng-click="createReply(post, newReplyContent)">Post Your Reply</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
    <textarea rows="4" class="form-control replyBox"
        data-ng-model="newPostContent" placeholder="Comment here..."></textarea>
    <button class="btn btn-info btn-sm tabMargin buttonMargin"
        data-ng-click="createPost()">Post Your Comment</button>
    <br />
    <br />
</div>
