<div class="container" ng-controller="projectSetupAssetsCtrl">
    <h2>Assets Settings</h2>
    <!-- <div data-wc-overlay="" data-wc-overlay-delay="6000">
    <img src="/Site/views/shared/image/loading.gif" />&nbsp; Loading...
    </div>-->
    <div class="row" data-ng-repeat="section in sections">
        <div class="panel col-xs-12 col-md-6">
            <h3 data-ng-cloak>
                {{ section.title }}
                <div class="pull-right">
                    <button class="btn btn-default" data-ng-click="newTextCollapsed = toggleCollapse(section, newTextCollapsed)">Add</button>
<!--                     <a role="button" class="btn btn-default dropdown-toggle" -->
<!--                         data-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"><i -->
<!--                         class="icon-cog icon-large"></i><span class="caret"></span></a> -->
                </div>
            </h3>

            <form name="" data-collapse="isCollapsed(section, newTextCollapsed)">
                <fieldset class="col-xs-12">
                    <!-- TODO: Should move style into a css file!!! -->
                    <div class="drop-box btn"
                        style="width: 100%; height: auto; padding-top: 0; cursor: pointer;"
                        data-ng-file-drop-available="dropSupported=true"
                        data-ng-file-drop="onFileSelect($files, section)"
                        data-ng-file-select="onFileSelect($files, section)">
                        <h4>Click here or drop a {{section.fileType}} file here to upload.</h4>
                    </div>
                    <div data-ng-show="!dropSupported">HTML5 Drop File is not
                        supported on this browser</div>
                    <div data-ng-show="section.tempFile != null">
                        <p>
                            <strong>{{section.tempFile.name}}</strong> {{section.tempFile.size | bytes }}
                        </p>
                        <div class="col-xs-12">
                            <progressbar data-value="progress" data-max="100.0"></progressbar>
                        </div>
                        &nbsp;
                    </div>

<!--
Used to mock file upload. Assumes file is already in the right location.
TODO: This should be removed from production code! IJH 2014-11
 -->
<pui-mock-upload data-pui-do-upload="onFileSelect(filesArray, param2)" data-pui-do-upload-param2="section" />

                </fieldset>
                <div style="clear: left"></div>
            </form>
            <ul class="list-group">
                <li class="list-group-item text-left" data-ng-repeat="asset in section.assets">
                    <!-- TODO: Move styling to css -->
                     <img data-ng-if="section.fileType == 'png'" data-ng-src="{{asset.path + '/' + asset.name}}" style="width:50px;" />
                    <span>{{ asset.name }}</span>
<!--                     <span class="btn badge" ng-click="deleteFile(section.assets,$index)">X</span> -->
                </li>
            </ul>
        </div>
    </div>
</div>
