<div data-ng-controller="renderListCtrl">
    <h3>Render List</h3>
    <div class="row">
        <div class="col-xs-9">
            <button type="button" class="btn btn-default"
                data-ng-click="doRender()">Render</button>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control"
                placeholder="Filter results..." data-ng-model="search" />
        </div>
    </div>
    <br/>
    <table class="table">
        <tr>
            <th>Date Created</th>
            <th>Workflow State</th>
            <th>ID</th>
        </tr>
        <tr
            data-ng-repeat="item in getPage(items, pageNumber, pageSize, search)">
            <td>{{ item.dateCreated }}</td>
            <td>{{ item.workflowState }}</td>
            <td>{{ item.id }}</td>
        </tr>
    </table>
    <div>
        <div class="row">
            <div class="col-xs-4" />
            <div class="col-xs-4" style="text-align: center;">
                <pagination style="margin: 0px;"
                    total-items="totalItems(items, search)"
                    items-per-page="pageSize" ng-model="pageNumber"
                    max-size="5" class="pagination-sm" boundary-links="true"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;" last-text="&raquo;" />
            </div>
            <div class="col-xs-4">
                <label for="pageSizeId" >Number of items showing</label>
                <select id="pageSizeId" class="form-control input-sm" data-ng-model="pageSize" style="width: auto;float: right;"
                    data-ng-options="item for item in [10,20,30]" />
            </div>
        </div>
    </div>
    <!-- <pre>{{ list | json }}</pre> -->
</div>
</div>