<div data-ng-cloak data-ng-controller="reviewCtrl" style="text-align: center;" >
    <div class="Container">
        <div class="row">
            <div class="col-lg-6">

                <button type="button"  data-ng-click="save()">Save</button>
                <div class="page-select">
                    page: <input data-ng-keyup="$event.keyCode==13 && updatePage()"
                                 class="pageNumber" data-ng-model="pageInput">
                    <button type="button" data-ng-click="updatePage()">GO</button>
                </div>
            </div>

        </div>
        <div class="row-fluid">
            <div class="span14">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="row-fluid">
                            <div class="span16" style="margin-left: 15px;">
                                <div class="prev">
                                    <button type="button" class="btn btn-link "
                                            data-ng-click="decreasePage()">&laquo</button>
                                </div>
                                <div class="next">
                                    <button type="button" class="btn btn-link"
                                            data-ng-click="increasePage()">&raquo</button>
                                </div>
                                <div
                                        class="progress-bar composition-progress-bar progress-bar-slider"
                                        data-ng-class="{invisible:pages.length==0}">
                                    <input class="progress-slider" type="range" min="0"
                                           max="{{pages.length}}" data-ng-model="selectedPage">
                                    <div class="inner"
                                         data-ng-style="{ width: (selectedPage)/pages.length*100 + '%' || '0%' }"></div>
                                <span class="sliderRanges"
                                      data-ng-repeat="page in pages track by $index"
                                      data-ng-style="{width: 100/pages.length + '%', 'background-color':page}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <img data-ng-src="{{renderedPage || '//:0'}}"
                                       data-ng-class="{imageBorder:renderedPage}" />
                            </div>

                        </div>
                    </div>
                    <div class="span4 card">
                        <div style="display: block">
                            <div class="chapterVerse">
                                <label>Chapter:</label>
                                <textarea></textarea>
                                <label>, verse:</label>
                                <textarea></textarea>
                            </div>
                            <textarea rows="10" cols="500" onfocus="">Add a new comment </textarea>
                            <button >Submit</button>
                        </div>
                        <div data-ng-repeat="comment in comments">
                            <label >{{comment}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>