
div.card {
    display: block;
    vertical-align: top !important;
    padding-top: 30px;
    margin-left: 10px;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: block;
    float: left;
    margin: 1rem;
    position: relative;
    width: 300px !important;
    height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    clear: both;

}

.card > label{
    margin-top: 10px;
    text-align: left;
    display: block;
    margin-left: 10px;
}
.card> textarea{
    margin:10px;
    height:50px;
    width:265px;
    max-width: 265px;
    display: block;

}
.card> button{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;


}
.commentTimestamp {
    font-size: 12px;
}

.panel {
    margin-top: 10px;
    margin-bottom: 10px;
}
.panel-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.panel-white {
    border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    height: 50px;
    padding: 20px 15px 10px;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title {
    margin-bottom: 0;
}
.post .post-heading .meta .title a {
    color: black;
}
.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}
.post .post-heading .meta .time {
    margin-left: -60px;
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: auto;
}
.post .post-description {
    padding: 15px;
}
.post .post-description p {
    text-align: left;
    margin-left:75px;
    font-size: 14px;
}
.post .post-description .stats {
    margin-top: 20px;
}
.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}
.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}
.panel .input-group .form-control {
    margin-top: 10px;
    text-align: left;
    margin-left: 4px;
}
.post .post-footer .input-group-addon a {
    color: #454545;
}
.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}
/*.post .post-footer .comments-list .comment .comment-heading {*/
    /*'display: block;*/
    /*'width: 100%;*/
/*}*/
.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    /*display: inline;*/
    /*margin-top: 0;*/
    /*margin-right: 10px;*/
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    /*margin-top: 0;*/
    /*display: inline;*/
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
}