<div data-ng-cloak data-ng-controller="reviewCtrl" style="text-align: center;" >
    <div class="Container">

        <div class="row-fluid">
            <div class="span14">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="row-fluid">
                            <div style="height: 600px; margin-bottom: 100px; overflow: hidden; ">
                                <iframe id="viewer" src="../../web/viewer.html?file=%2F../../web/compressed.tracemonkey-pldi-09.pdf"></iframe>
                            </div>
                        </div>

                    </div>
                    <div class="span4 card">
                        <div style="display: block">
                            <div class="chapterVerse">
                                <label>Chapter:</label>
                                <textarea></textarea>
                                <label>, verse:</label>
                                <textarea></textarea>
                            </div>
                            <textarea rows="10" cols="500" onfocus="">Add a new comment </textarea>
                            <button  >Submit</button>
                        </div>
                        <div data-ng-repeat="comment in comments">
                            <label >{{comment}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>