<div data-ng-cloak data-ng-controller="reviewCtrl" style="text-align: center;">
    <div class="Container inline-block ">

            <div style="width:400px" >
                <div style="width:400px ">
                    <div class="prev">
                        <button type="button" class="btn btn-link "
                                data-ng-click="decreasePage()">&laquo</button>
                    </div>
                    <div class="next">
                        <button type="button" class="btn btn-link"
                                data-ng-click="increasePage()">&raquo</button>
                    </div>
                    <div
                            class="progress-bar composition-progress-bar progress-bar-slider"
                            data-ng-class="{invisible:pages.length==0}">
                        <input class="progress-slider" type="range" min="0"
                               max="{{pages.length}}" data-ng-model="selectedPage">
                        <div class="inner"
                             data-ng-style="{ width: (selectedPage)/pages.length*100 + '%' || '0%' }"></div>
                        <span class="sliderRanges"
                              data-ng-repeat="page in pages track by $index"
                              data-ng-style="{width: 100/pages.length + '%', 'background-color':page}"></span>
                    </div>
                </div>
                <div class="imagesContainers" style="width:400px ">
                    <div class=" imageDiv" style="width:400px ">
                        <img data-ng-src="{{renderedPage}}"
                             data-ng-class="{imageBorder:renderedPage}" />
                    </div>

                    <!--<div class="col-md-4 imageDiv"-->
                         <!--data-ng-class="{grey:selectedPage%2==0}">-->
                        <!--<img data-ng-src="{{renderedImageRight || '//:0'}}"-->
                             <!--data-ng-class="{imageBorder:renderedImageRight}" />-->
                    <!--</div>-->
                </div>
            </div>
            <div class="card">
                <div>
                    <textarea rows="10" cols="500">Add a new comment</textarea>
                    <button >Submit</button>
                </div>
                <div data-ng-repeat="comment in comments">
                    <label >{{comment}}</label>
                </div>

            </div>

    </div>

</div>