<div data-ng-cloak  style="text-align: center;">

    <div class="Container ">
            <div data-ng-controller="compositionCtrl">
                <div class="row">
                    <div  >
                        <img id="loading-project" src={{LoadingProjectImg}} ng-show="LoadingProjectImg" class="ng-hide" />
                        <i>{{LoadingProjectText}}</i>
                    </div>
                </div>
                <div ng-hide="bookHTML" class="row ng-hide">
                    <p>
                        Before we being, add the necessary assets to the project.
                    </p>
                </div>
                <div class="row ng-hide" ng-show="bookHTML">
                    <div class="text span8 " data-ng-bind-html="bookHTML"
                          data-ng-click="textClick()" composition-selection
                          paragraph-node="paragraphNode" content="bookHTML">
                    </div>
                    <div class="properties span4 ">
                        <span data-ng-show="currentImage==''&&verse==''"> Properties
                            panel <br /> <br /> Click on a paragraph or an illustration
                            placeholder to edit their properties
                        </span>
                        <div data-ng-show="currentImage!=''"  >
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Illustration</td>
                                        <td>{{currentImage}}</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td><input class="form-control" data-ng-model="location"
                                            data-ng-change="illustrationSave()"  title=""/></td>
                                    </tr>
                                    <tr>
                                        <td>Width</td>
                                        <td><input class="form-control" type="number"
                                            data-ng-model="imageWidth" data-ng-change="illustrationSave()"  title=""/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Scale</td>
                                        <td><input class="form-control" type="number"
                                            data-ng-model="scale" step="0.05"
                                            data-ng-change="illustrationSave()"  title=""/></td>
                                    </tr>
                                    <tr>
                                        <td>Caption</td>
                                        <td><input class="form-control" data-ng-model="caption"
                                            data-ng-change="illustrationSave()"  title=""/></td>
                                    </tr>
                                    <tr>
                                        <td>Use caption</td>
                                        <td><input class="checkbox" type="checkbox"
                                            data-ng-model="useCaption" data-ng-change="illustrationSave()"  title=""/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Use illustration</td>
                                        <td><input class="checkbox" type="checkbox"
                                            data-ng-model="useIllustration"
                                            data-ng-change="illustrationSave()"  title=""/></td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                        <div data-ng-show="verse!=''">
                            <p>Chapter: {{chapter}}, verse: {{verse}}</p>
                            Growth factor: <input class="form-control"
                                data-ng-change="paragraphChanged()"
                                style="display: inline-block; width: 50%; margin-bottom: 10px;"
                                type="number" data-ng-model="paragraphGrowthFactor" min="-1"
                                max="2" />
                        </div>
                     </div>
                </div>
                <div class="row">
                    <div >
                        <button id="savebtn" data-ng-click="save()"  >Save</button>
                        <button id="renderbtn" data-ng-click="renderRapuma()">Render</button>
                    </div>
                </div>
                <div class="row">
                    <div  >
                        <img id="loading-image" src={{LoadingImg}} ng-show="LoadingImg" class="ng-hide" />
                        <i>{{LoadingText}}</i>
                    </div>
                </div>
                <div  ng-show="renderedBook" class="row ng-hide">
                    <div class="span12" style="margin-left: 0px; ">
                            <iframe id="viewer"   src={{renderedBook}}></iframe>
                    </div>
                </div>
            </div>

            <div class="row ng-hide" ng-show="renderedBook"  data-ng-controller="reviewCtrl" >
                <div class="span12" style="margin-left: 0px;">
                    <div class="panel panel-white post panel-shadow" >
                        <div class="input-group">
                            <textarea class="form-control" rows="5"  style="min-width: 95%" placeholder="Add a comment" data-ng-model="newPostContent" type="text"></textarea>
                            <div style="text-align: left; margin-left: 16px; margin-bottom: 10px;">
                                    <span class="input-group-addon"  >
                                    <button class="btn" data-ng-click="createPost()">post</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span12" style="margin-left: 0px;">
                    <div>
                        <div class=" panel-white post panel-shadow"  style="margin-bottom: 10px; " data-ng-repeat="post in thread.posts | reverse">
                            <div class="post-heading">
                                <div class="pull-left image" style="min-width: 50px;">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                </div>
                                <div class="pull-right">
                                    <a data-ng-show="isManager()" data-ng-click="post.isEditing = true">
                                        <span class="icon-edit"></span>
                                    </a>
                                    <a data-ng-show="isManager()" data-ng-click="deletePost(post)">
                                        <span class="icon-remove"></span>
                                    </a>
                                </div>
                                <div class="meta" style="text-align: left">
                                    <div class="title h5">
                                        <a>
                                            <b>{{thread.author.name}}</b>
                                        </a>
                                        made a post.
                                    </div>
                                    <h6 class="text-muted time" >{{post.dateCreated | relativetime}}</h6>
                                </div>

                            </div>
                            <div class="post-description">
                                <div class="text-left block" ng-hide="!post.isEditing" style="margin-left: 72px;">
                                    <textarea ng-model="post.content" >{{post.content}}</textarea>
                                    <a data-ng-click="saveEdit(post)"><i class="fa fa-edit" ></i></a>
                                </div>
                                <p ng-hide="post.isEditing">{{post.content}}</p>
                            </div>
                            <div class="post-footer">
                                <ul class="comments-list"  >
                                    <li class="comment" data-ng-repeat="reply in post.replies">
                                        <div class="pull-left image" >
                                            <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                                        </div>
                                        <div class="comment-body" >
                                            <div class="comment-heading" style="display:block;text-align: left; vertical-align: top; " >
                                                <div class="user" style="display: inline-block;">{{reply.author.name}}</div>
                                                <div class="time" style="display: inline-block">{{reply.author.dateCreated | relativetime}}</div>
                                            </div>
                                            <a class="pull-right" data-ng-show="isManager()"
                                               data-ng-click="deleteReply(post, reply)">
                                                <span class="icon-remove"></span>
                                            </a>

                                            <label class="text-left" >{{reply.content}}</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-left block input-group" style="margin-left: 72px">
                                <input class="form-control" placeholder="Add a reply" data-ng-model="newReplyContent" type="text">
                                <span class="input-group-addon">
                                    <a data-ng-click="createReply(post, newReplyContent)"><i class="fa fa-edit" ></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
