<h3 translate="Choose a project name"></h3>

<form data-ng-submit="addProject()">
    <div class="control-group">
        <input type="text" class="form-control" data-ng-model="newProject.projectName"
            set-focus="!newProjectCollapsed" maxlength="50" required placeholder="Project Name"
            data-idle-validate="checkProjectCode()" data-idle-validate-keypress="resetValidateProjectForm()"/>
    </div>
    <br />
    <div class="control-group">
        <label class="control-label text-muted" translate="Project Code"></label>
        <input type="text" class="form-control" data-ng-model="newProject.projectCode" data-ng-show="newProject.editProjectCode"
               data-ng-trim="false" maxlength="50" required
               data-idle-validate="checkProjectCode()" data-idle-validate-keypress="resetValidateProjectForm()"/>
        <div class="uneditable-input" data-ng-hide="newProject.editProjectCode"
            data-ng-bind="newProject.projectCode"></div>
        <span  data-ng-show="newProject.projectCode.length > 0">
            <span  data-ng-show="projectCodeState == 'loading'">
                <img id="projectCodeLoading" class="validator" src="/Site/views/shared/image/loading-small.gif" /></span>
            <span  data-ng-show="projectCodeState == 'exists'">
                <img id="projectCodeExists" class="validator" src="/Site/views/shared/image/exclamation.png"
                     title="Project Code already exists!" /></span>
            <span  data-ng-show="projectCodeState == 'invalid'">
                <img id="projectCodeAlphanumeric" class="validator" src="/Site/views/shared/image/exclamation.png"
                     title="" /></span>
            <span  data-ng-show="projectCodeState == 'ok'">
                <img id="projectCodeOk" class="validator" src="/Site/views/shared/image/tick.png"
                     title="Project Code is available!" /></span>
        </span>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" data-ng-model="newProject.editProjectCode"/>
            {{'Edit project code' | translate}}
            <p class="text-muted">(Not usually necessary)</p>
        </label>
    </div>
    <button type="submit" class="btn btn-primary" data-ng-disabled="isSubmitting">Create Project</button>
    <div class="alert alert-danger" data-ng-show="projectCodeState == 'invalid'">Project Code must begin with a letter, and only contain lower-case letters, numbers, dashes and underscores!</div>
    <div class="alert alert-danger" data-ng-show="projectCodeState == 'exists'">Project Code already exists!</div>
    <div class="alert alert-danger" data-ng-show="projectCodeState == 'empty'">The Project Code cannot be empty</div>
</form>
