<h3 translate="Choose a project name"></h3>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
        <input type="text" class="form-control" data-ng-model="newProject.projectName" data-ng-blur="checkProjectCode()" 
            set-focus="!newProjectCollapsed" maxlength="50" required placeholder="Project Name" 
            idle-validate="checkProjectCode()" idle-validate-keypress="resetValidateProjectForm()"/>
    </div>
    <span  data-ng-show="newProject.projectCode.length > 0">
        <span  data-ng-show="projectCodeState == 'loading'">
            <img id="projectCodeLoading" class="validator" src="/images/shared/loading-small.gif" /></span>
        <span  data-ng-show="projectCodeState == 'exists'">
            <img id="projectCodeExists" class="validator" src="/images/shared/exclamation.png" 
            title="Project Code already exists!" /></span>
        <span  data-ng-show="projectCodeState == 'invalid'">
            <img id="projectCodeAlphanumeric" class="validator" src="/images/shared/exclamation.png" 
            title="Project Code must begin with a letter, and only contain lower-case letters, numbers, dashes and underscores!" /></span>
        <span  data-ng-show="projectCodeState == 'ok'">
            <img id="projectCodeOk" class="validator" src="/images/shared/tick.png" 
            title="Project Code is available!" /></span>
    </span>
</div>
<br />
<div class="form-group">
    <label class="col-sm-3 control-label text-muted" translate="Project Code"></label>
    <div class="col-sm-6">
        <input type="text" class="form-control" data-ng-show="newProject.editProjectCode"
            data-ng-model="newProject.projectCode" 
            data-ng-trim="false" maxlength="50" required data-ng-blur="checkProjectCode()" 
            idle-validate="checkProjectCode()" idle-validate-keypress="resetValidateProjectForm()"/>
        <div class="form-control uneditable-input"
            data-ng-hide="newProject.editProjectCode"
            data-ng-bind="newProject.projectCode">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-ng-model="newProject.editProjectCode"/>
                {{'Edit project code' | translate}}
                <p class="text-muted">(You'll almost never need to check this)</p>
            </label>
        </div>
    </div>
</div>
