<!DOCTYPE html>
<html lang="en-GB">
    <head>
        {% block meta %}
            <meta charset="utf-8" />
            <title>{{ app.website.name }}</title>

            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

            {% for cssFile in cssFiles %}
                <link rel=stylesheet href="/{{ cssFile }}" />
            {% endfor %}

            <link rel="icon" href="/Site/views/{{ app.website.base~'/theme/'~app.website.theme }}/image/favicon.ico" type="image/x-icon" />
            <link data-require="font-awesome@*" data-semver="4.2.0" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />

            <!-- jquery must be the first js to be loaded -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
            <!-- see https://github.com/jquery/jquery-migrate/ -->
            <!-- swap in the script below to show what needs migrating in the browser console
            <script src="//code.jquery.com/jquery-migrate.js"></script>
             -->
        {% endblock %}
    </head>
    <body>
        <div id="maincontainer">
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
            {% block script %}{% endblock %}
            <div class="clearfooter"></div>
        </div>
        {% block footer %}{% endblock %}
        {% block analytics %}{% endblock %}
    </body>
</html>
