<div data-ng-cloak data-ng-controller="compositionCtrl"
	style="text-align: center;">
	<h3>Hello webtypesetting world!</h3>
	<button class="render" data-ng-click="">Render!</button>
	<div class="progress-bar progress-bar-slider">
		<input class="progress-slider" type="range" min="0" max="{{numPages}}"
			data-ng-model="selectedPage">
		<div class="inner"
			data-ng-style="{ width: (selectedPage)/numPages*100 + '%' || '0%' }"></div>
		<div class="sliderRanges"
			data-ng-repeat="page in pages track by $index"
			data-ng-style="{width: 100/numPages + '%', 'background-color':page}"></div>
	</div>

	<div class="left"
		data-ng-init="text='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet semper luctus. Fusce feugiat urna orci, ut finibus metus eleifend a. Sed nibh quam, efficitur vitae lacus in, maximus malesuada elit. Nulla vulputate eget tellus nec tristique. Nulla blandit vitae arcu eu mollis. Integer ut mauris ut sem elementum fringilla ac ac diam. In non placerat arcu. Pellentesque eu mollis velit.
				Sed sed vestibulum felis, id posuere purus. Sed eget sodales ex, porta blandit ante. Cras vel velit nec nisl placerat eleifend a vel urna. Praesent in elementum neque, eget gravida enim. Donec eget quam sed eros ullamcorper pellentesque. Praesent tellus turpis, maximus et mi non, tristique condimentum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce feugiat sit amet felis eu ultrices.
				Mauris tincidunt purus augue, sit amet faucibus nisi aliquet et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse tempus volutpat dictum. Maecenas ut consectetur lacus. Vivamus pharetra ante vel lorem hendrerit, a consectetur nisl interdum. Phasellus interdum nulla magna. Nulla sem elit, gravida quis lobortis quis, rhoncus ac enim.'">
		<div class="text">{{text}}</div>
		<div class="properties">stuff stuff stuff</div>


	</div>
	<div class="center">
		<div>
			<button data-ng-click="decreasePage()">left</button>
			<button data-ng-click="increasePage()">right</button>
		</div>
		<div>
			page: <input data-ng-keyup="$event.keyCode==13 && update()" class="pageNumber" data-ng-model="pageInput" >
			<button data-ng-click="update()">GO</button>
		</div>
	</div>
	<div class="right"
		data-ng-init="renderedImage='http://upload.wikimedia.org/wikipedia/commons/6/6a/Tricoloring.png'">
		<img data-ng-src="{{renderedImage}}" />
	</div>
</div>
