.discussionPost, .discussionPost:hover {
    background-color: Gainsboro !important;
}
tr:hover {
    background-color: initial !important;
}
.iconImage{
        width: 50px;
        height: 50px;
}
.noColumnBorder {
    border: transparent !important;
}
.tabMargin {
    margin-left: 1em;
}
.replyContent {
    margin-left: 1.5em;
    font-size: .75em;
}
.replyMargin {
    padding-top: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.customBtn1 {
    float: right;
    background-color: transparent !important;
}
.customBtn1:hover {
    color: red;
}

.customBtn2 {
    float: right;
    background-color: transparent !important;
    padding: 0px !important;
}
.customBtn2:hover {
    color: red;
}
.replyBox {
    width: calc(100% - 1em);
    margin-left: 1em;
}

.buttonMargin {
    margin-top: 7.23948px !important;    
}