<div class="container" data-ng-cloak data-ng-controller="projectSetupLayoutCtrl as layout">
    <h2>Layout Settings</h2>
    
    DEBUG INFO
    <ul style="width: 100%;">
      <li data-ng-repeat="(k, v) in layout.conf" style="float: left; width: 25%; font-size: xx-small;">
        {{ k }} : {{ v }}
      </li>
    </ul>
    <div style="height: 200px;"/>
    <!-- END DEBUG INFO -->
    
    <span class="save-notice pull-right text-muted">{{saveNotice()}}</span>
    <form name="layoutForm" novalidate>
    <tabset style="text-align: center;"> 
        <tab heading="Margins" class="form-group"> 
            <br />
            <div class="row">
	            <div class="col-md-2">
	                <label for="insideMarginInput">Inside Margin</label>
	                <input class="form-control" type="number"
	                    data-ng-model="layout.conf.insideMargin" id="insideMarginInput" />
	            </div>
	            <div class="col-md-2">
	                <label for="outsideMarginInput">Outside Margin</label>
	                <input class="form-control" type="number"
	                    data-ng-model="layout.conf.outsideMargin" id="outsideMarginInput" />
	            </div>
	            <div class="col-md-2">
	                <label for="topMarginInput">Top Margin</label>
	                <input class="form-control" type="number" data-ng-model="layout.conf.topMargin"
	                    id="topMarginInput" />
	            </div>
	            <div class="col-md-2">
	                <label for="bottomMarginInput">Bottom Margin</label>
	                <input class="form-control" type="number"
	                    data-ng-model="layout.conf.bottomMargin" id="bottomMarginInput" />
	            </div>
	        </div>
        </tab>
        <tab heading="Columns" class="form-group">
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label class="checkbox-inline">
                          <input type="checkbox" data-ng-model="layout.conf.bodyColumnsTwo">Two Body Columns
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                          <input type="checkbox" data-ng-model="layout.conf.titleColumnsTwo">Two Title Columns
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                          <input type="checkbox" data-ng-model="layout.conf.introColumnsTwo">Two Intro Columns
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                          <input type="checkbox" data-ng-model="layout.conf.columnGutterRule">Column Rule
                    </label>
                </div>
            </div>
        </tab> 
        <tab heading="Header" class="form-group">
            <br />
            <div class="row">
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.useRunningHeader">Running Header
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label for="headerPositionInput">Header Position</label>
	                <input class="form-control" type="number" data-ng-model="layout.conf.headerPosition" id="headerPositionInput" />
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.useRunningHeaderRule">Running Header Rule
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label for="headerPositionRuleInput">Running Header Rule Position</label>
	                <input class="form-control" type="number" data-ng-model="layout.conf.runningHeaderRulePosition" id="headerPositionRuleInput" />
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.omitChapterNumberRH">Omit Chapter Number Running Header
	                </label>
	            </div>
	        </div>
	        <br />
	        <div class="row">
	        	<div class="col-md-2">
	                <label for="runningHeaderTitleLeftInput" data-ng-model="layout.conf.runningHeaderTitleLeft">Running Header Title Left</label>
	        		<select class="form-control" id="runningHeaderTitleLeftInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningHeaderTitleCenterInput" data-ng-model="layout.conf.runningHeaderTitleCenter">Running Header Title Center</label>
	        		<select class="form-control" id="runningHeaderTitleCenterInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningHeaderTitleRightInput" data-ng-model="layout.conf.runningHeaderTitleRight">Running Header Title Right</label>
	        		<select class="form-control" id="runningHeaderTitleRightInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.showVerseReferences">Show Verse References
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.omitBookReference">Omit Book Reference
	                </label>
	            </div>
	        </div>
	        <br />
	        <div class="row">
	        	<div class="col-md-2">
	                <label for="runningHeaderEvenLeftInput" data-ng-model="layout.conf.runningHeaderEvenLeft">Running Header Even Left</label>
	        		<select class="form-control" id="runningHeaderEvenLeftInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningHeaderEvenCenterInput" data-ng-model="layout.conf.runningHeaderEvenCenter">Running Header Even Center</label>
	        		<select class="form-control" id="runningHeaderEvenCenterInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningHeaderEvenRightInput" data-ng-model="layout.conf.runningHeaderEvenRight">Running Header Even Right</label>
	        		<select class="form-control" id="runningHeaderEvenRightInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
	        </div>
	        <br />
	        <div class="row">
	        	<div class="col-md-2">
	                <label for="runningHeaderOddLeftInput" data-ng-model="layout.conf.runningHeaderOddLeft">Running Header Odd Left</label>
	        		<select class="form-control" id="runningHeaderOddLeftInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningHeaderOddCenterInput" data-ng-model="layout.conf.runningHeaderOddCenter">Running Header Odd Center</label>
	        		<select class="form-control" id="runningHeaderOddCenterInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningHeaderOddRightInput" data-ng-model="layout.conf.runningHeaderOddRight">Running Header Odd Right</label>
	        		<select class="form-control" id="runningHeaderOddRightInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
	        </div>
        </tab>
        <tab heading="Footer" class="form-group">
            <br />
            <div class="row">
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.useRunningFooter">Running Footer
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label for="footerPositionInput">Footer Position</label>
	                <input class="form-control" type="number" data-ng-model="layout.conf.footerPosition" id="footerPositionInput" />
	            </div>
	        </div>
	        <br />
	        <div class="row">
	        	<div class="col-md-2">
	                <label for="runningFooterEvenLeftInput" data-ng-model="layout.conf.runningFooterEvenLeft">Running Footer Even Left</label>
	        		<select class="form-control" id="runningFooterEvenLeftInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningFooterEvenCenterInput" data-ng-model="layout.conf.runningFooterEvenCenter">Running Footer Even Center</label>
	        		<select class="form-control" id="runningFooterEvenCenterInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningFooterEvenRightInput" data-ng-model="layout.conf.runningFooterEvenRight">Running Footer Even Right</label>
	        		<select class="form-control" id="runningFooterEvenRightInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        	</div>
        	<br />
	        <div class="row">
	        	<div class="col-md-2">
	                <label for="runningFooterOddLeftInput" data-ng-model="layout.conf.runningFooterOddLeft">Running Footer Odd Left</label>
	        		<select class="form-control" id="runningFooterOddLeftInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningFooterOddCenterInput" data-ng-model="layout.conf.runningFooterOddCenter">Running Footer Odd Left</label>
	        		<select class="form-control" id="runningFooterOddCenterInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningFooterOddRightInput" data-ng-model="layout.conf.runningFooterOddRight">Running Footer Odd Right</label>
	        		<select class="form-control" id="runningFooterOddRightInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
	        </div>
	        <br />
	        <div class="row">
	        	<div class="col-md-2">
	                <label for="runningFooterTitleLeftInput" data-ng-model="layout.conf.runningFooterTitleLeft">Running Footer Title Left</label>
	        		<select class="form-control" id="runningFooterTitleLeftInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningFooterTitleCenterInput" data-ng-model="layout.conf.runningFooterTitleCenter">Running Footer Title Left</label>
	        		<select class="form-control" id="runningFooterTitleCenterInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="runningFooterTitleRightInput" data-ng-model="layout.conf.runningFooterTitleRight">Running Footer Title Right</label>
	        		<select class="form-control" id="runningFooterTitleRightInput">
	        			<option data-ng-repeat="setting in layout.headerOptions">{{ setting }}</option>
	        		</select>
        		</div>
	        </div>
        </tab>
        <tab heading="Footnotes" class="form-group">
        	<br />
        	<div class="row">
	        	<div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.useSpecialCallerFootnotes">Use Special Caller Footnotes
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.paragraphedFootnotes">Paragraphed Footnotes
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.useNumericCallersFootnotes">Use Numeric Callers Footnotes
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label for="specialCallerFootnotesInput">Special Caller Footnotes</label>
	                <input class="form-control" data-ng-model="layout.conf.specialCallerFootnotes" type="text" id="specialCallerFootnotesInput" />
	            </div>
	        </div>
	        <br />
	        <div class="row">
	        	<div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.useFootnoteRule">Footnote Rule
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.pageResetCallersFootnotes">Reset Page Callers Footnotes
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.omitCallerInFootnotes">Omit Caller In Footnotes
	                </label>
	            </div>
		     </div>
        </tab>
        <tab heading="Cross References" class="form-group">
        	<br />
        	<div class="row">
        		<div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.useSpecialCallerCrossrefs">Use Special Caller Crossrefs
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.paragraphedCrossrefs">Paragraphed Crossrefs
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.useNumericCallersCrossrefs">Use Numeric Callers Crossrefs
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label for="specialCallerCrossrefsInput">Special Caller Crossrefs</label>
	                <input class="form-control" type="text" id="specialCallerCrossrefsInput" data-ng-model="layout.conf.specialCallerCrossrefs" />
	            </div>
        	</div>
        </tab> 
        <tab heading="Background" class="form-group">
        	<br />
        	<div class="row">
        		<div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.useBackground">Use Background
	                </label>
	            </div>
        	</div>
        	<br />
        	<label for="backgroundComponentsWell">Background Components</label>
        	<div class="row well" id="backgroundComponentsWell">
        		<div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.components.watermark" data-ng-change="layout.backgroundComponentsUpdate()">Watermark
	                </label>
	            </div>
        		<div class="col-md-2">
	                <label for="watermarkTextInput">Watermark Text</label>
	                <input class="form-control" data-ng-model="layout.conf.watermarkText" type="text" id="watermarkTextInput" />
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.components.pagebox" data-ng-change="layout.backgroundComponentsUpdate()">Pagebox
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.components.cropmarks" data-ng-change="layout.backgroundComponentsUpdate()">Cropmarks
	                </label>
	            </div>
        	</div>
        </tab>
        <tab heading="Print Options" class="form-group">
        	<br />
        	<div class="row">
        		<div class="col-md-2">
	                <label for="pageSizeCodeInput">Page Size Code</label>
	        		<select class="form-control" id="pageSizeCodeInput" data-ng-model="layout.pageSizeCode">
	        			<option>A5</option>
	        			<option>US Letter</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label for="printerPageSizeCodeInput">Printer Page Size Code</label>
	        		<select class="form-control" id="printerPageSizeCodeInput" data-ng-model="layout.conf.printerPageSizeCode">
	        			<option>A4</option>
	        			<option>US Letter</option>
	        		</select>
        		</div>
        		<div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input type="checkbox" data-ng-model="layout.conf.useDocInfo">Use Doc Info
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label for="docInfoTextInput">Doc Info Text</label>
	                <input class="form-control" data-ng-model="layout.conf.docInfoText" type="text" id="docInfoTextInput" />
	            </div>
        	</div>
        </tab>
        <tab heading="Body Text" class="form-group">
        	<br />
        	<div class="row">
        		<div class="col-md-2">
	                <label for="bodyTextLeadingInput">Leading Body Text</label>
	                <input class="form-control" data-ng-model="layout.conf.bodyTextLeading" type="number" id="bodyTextLeadingInput" />
	            </div>
	            <div class="col-md-2">
	                <label for="bodyFontSizeInput">Body Font Size</label>
	                <input class="form-control" data-ng-model="layout.conf.bodyFontSize" type="number" id="bodyFontSizeInput" />
	            </div>
	            <div class="col-md-2">
	                <label for="fontDefaultSizeInput">Font Default Size</label>
	                <input class="form-control" data-ng-model="layout.conf.fontDefaultSize" type="number" id="fontDefaultSizeInput" />
	            </div>
	            <div class="col-md-2">
	                <label for="leadingDefaultSizeInput">Leading Default Size</label>
	                <input class="form-control" data-ng-model="layout.conf.leadingDefaultSize" type="number" id="leadingDefaultSize" />
	            </div>
        	</div>
        	<br />
        	<div class="row">
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input data-ng-model="layout.conf.justifyParagraphs" type="checkbox">Justify Paragraphs
	                </label>
	            </div>
	            <div class="col-md-2">
	                <label class="checkbox-inline">
	                      <input data-ng-model="layout.conf.rightToLeft" type="checkbox">Right to Left
	                </label>
	            </div>
        	</div>
        </tab>
        <tab heading="Misc" class="form-group">
        	<br />
        	<!-- <div class="row">
                <div class="col-md-2">
                    <label class="checkbox-inline">
                          <input type="checkbox">Use Caption References 
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                          <input type="checkbox">Use Figure Placeholders  
                    </label>
                </div>
        	</div> -->
        </tab>
    </tabset>
    </form>
    <br />
    

    <div class="row" data-ng-style="layout.css.pagesContainer">
    <br>
    <p style="text-align: center;">
    Preview (only displays adjustable margins)
    </p>
        <!-- left page -->
        <div class="pages" id="page-left" data-ng-style="layout.css.leftPage">
            <div id="pageLeftLayout" class="margins" data-ng-style="layout.css.leftMargins">
                <p>Qui occaecati incidunt delectus itaque maiores. Accusantium
                    blanditiis debitis numquam et ad modi autem. Omnis exercitationem
                    consectetur tenetur veniam. Est qui et non occaecati.</p>
            </div>
        </div>

        <!-- right page -->
        <div class="pages" id="page-right"
            data-ng-style="layout.css.rightPage">
            <div id="pageRightLayout" class="margins" data-ng-style="layout.css.rightMargins">
                <p>Sed quod voluptas nihil. Dolores molestiae in soluta.
                    Distinctio veniam illum et velit aut. Voluptates tenetur et ab non
                    quo consectetur.</p>
            </div>
        </div>

    </div>
    
</div>
