<div data-ng-controller="renderListCtrl">
    <input type="text" class="form-control" placeholder="Search for..."
        data-ng-model="search" /> <input type="number"
        class="form-control col-lg-6" min=0 data-ng-model="pageSize">Results per page</input>
    <h1>Render List</h1>
    <table class="table">
        <tr>
            <th>Component</th>
            <th>Renderer</th>
            <th>Rendered On</th>
            <th>Comments</th>
            <th>Tags</th>
        </tr>
        <tr data-ng-repeat="item in list" data-ng-if="contains(item, search)">
            <td>{{ item.component }}</td>
            <td>{{ item.renderer }}</td>
            <td>{{ item.renderedOn }}</td>
            <td>{{ item.comments }}</td>
            <td>{{ item.tags }}</td>
        </tr>
    </table>
</div>