
.workingText {
	text-align: left;
}

/*
.workingText p {
	text-indent: 4em;
}
*/

.workingText p:hover {
	background-color: #eeeeff;
}

.workingText .usfm-wj {
	color: darkred;
}

.workingText .chapter-number {
	font-weight: bold;
	display: block;
}
