/* typesetting css */

#typesetting-hmenu {
    overflow: visible;
}

#typesetting-hmenu .topNav {
    padding-left: 0;
}

.btnBar {
    margin-left: 100px;
}
ul.projectNav > li {
    background: #777 none repeat scroll 0% 0%;
    display: inline-block;
    margin-top: 2px;
    margin-right: 7px;
}

.projectNav {
    margin-top: 50px;
}
ul.projectNav a {
    color: #FFF;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}
ul.projectNav li:hover {
    background: #08C none repeat scroll 0% 0%;
}
hr {
    height: 1px;
    background-color: #DCDCDC;
    border: 0px;
}

.inline-block  div {
    display: inline-block;
}

